/dataset_generation/BullseyePoison/model-chks/
/dataset_generation/BullseyePoison/model-chks-release/
/dataset_generation/BullseyePoison/benchmark_results/
/dataset_generation/datasets
/dataset_generation/docs
slurm-*.out